<div class="main-body">
    <div class="main-div" style="margin-top:5rem;">
        <div class="row justify-content-center">
            <div class="col-md-4 ">
                Source Currency:
                <app-currency-input #inputCurrency>

                </app-currency-input>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                Target Currency:
                <app-currency-input #outputCurrency [disableInput]="true">
                </app-currency-input>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <input type="button" id="btnConvert" class="btn btn-primary" value="Convert..."
                    (click)="convertCurrency()"
                    [disabled]="!inputCurrency.txtValue || !inputCurrency.currencySymbol || !outputCurrency.currencySymbol" />
            </div>
        </div>        
    </div>
</div>